#profile{
	width:200px;
}

#sideMenu{
	padding: 5px;
	max-width: 225px;
	min-width: 225px;
	display: inline-block;
	border-right:1px solid #ffffff;
	background-color: #3d3d3d;
	color: #d1cfcf;
	background-position: left center;
}

#contacts{
	border-bottom: .5px solid #757575;
	margin-left: 10px;
}

#contents{
	margin-left: 10px;
	width: 800px;
	display: inline-block;
	vertical-align: top;
	background-color: white;
	position: relative;
	color: #515151;
	font-weight: 400;
}

a{
	color: #d1cfcf;
}
a:link    {
  text-decoration:  none;
  font-weight:      150;
  background-color: ;
  color:            ;
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  font-weight:      150;
  background-color: ;
  color:            #e8e8e8;
  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  none;
  font-weight:      150;
  background-color: ;
  color: #125600;
  } 
a:visited    {
  text-decoration:  none;
  font-weight:      150;
  background-color: ;
  color:  ;
}   

ul {
  list-style-type: none;
  margin-left: 40px;
  padding: 5px;
}

#topic1, 
#topic2,
#topic3,
#topic4,
#topic5,
#aboutSM{
	margin-left: 10px;
}

{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}

.container {
    display: flex;
    overflow: hidden;
    height: 900px;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
    margin-left:-15px;
}

.left,
.right{
	overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;	
}
.left{
	width:250px;
}
.right{
	width:800px;
}

.left::-webkit-scrollbar{
	display: always;
}
.right::-webkit-scrollbar {
    display: none;
}