doctype html
html
	head
		meta(charset='utf-8')
		title MySssite
	body
		form(action='/form_receiver' method='post')
			p
				block num1			
			p
				input(type='text' name='title')
			p
				textarea(name='description')
			p
				input(type='submit')
			p

