
doctype html
html
	head
		meta(charset='utf-8')
		title GC's Page
	body
		div(id='sidemenu')
			a(class="page_title" href="#") GCKIM93 WEB
			ul(class="info") Github repository
					sdsd

		div(id='allconts')
			block cont1 		